[Unit]
Description=Advice Service text2advice

[Service]
ExecStart=/home/miyakz/github_repos/text2advice/boot_text2advice.sh
Restart=always
User=miyakz
RestartSec=5
StartLimitInterval=10
StartLimitBurst=10


[Install]
WantedBy=multi-user.target



